trunk/SOAEncriptacion/WebContent/wsdl/Encriptacion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws" xmlns:intf="http://ws" xmlns:tns1="http://orm.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://orm.org"/>
   <element name="encripta">
    <complexType>
     <sequence>
      <element name="texto" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="encriptaResponse">
    <complexType>
     <sequence>
      <element name="encriptaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns1:PersistentException"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://orm.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="PersistentException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="encriptaRequest">

      <wsdl:part element="impl:encripta" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="encriptaResponse">

      <wsdl:part element="impl:encriptaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="PersistentException">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Encriptacion">

      <wsdl:operation name="encripta">

         <wsdl:input message="impl:encriptaRequest" name="encriptaRequest">

       </wsdl:input>

         <wsdl:output message="impl:encriptaResponse" name="encriptaResponse">

       </wsdl:output>

         <wsdl:fault message="impl:PersistentException" name="PersistentException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EncriptacionSoapBinding" type="impl:Encriptacion">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="encripta">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="encriptaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="encriptaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="PersistentException">

            <wsdlsoap:fault name="PersistentException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EncriptacionService">

      <wsdl:port binding="impl:EncriptacionSoapBinding" name="Encriptacion">

         <wsdlsoap:address location="http://localhost:8080/SOAEncriptacion/services/Encriptacion"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
