SOAEncriptacion/WebContent/wsdl/Desencriptacion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws" xmlns:intf="http://ws" xmlns:tns1="http://orm.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://orm.org"/>
   <element name="desencripta">
    <complexType>
     <sequence>
      <element name="clave" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="desencriptaResponse">
    <complexType>
     <sequence>
      <element name="desencriptaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns1:PersistentException"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://orm.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="PersistentException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="desencriptaResponse">

      <wsdl:part element="impl:desencriptaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="desencriptaRequest">

      <wsdl:part element="impl:desencripta" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="PersistentException">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Desencriptacion">

      <wsdl:operation name="desencripta">

         <wsdl:input message="impl:desencriptaRequest" name="desencriptaRequest">

       </wsdl:input>

         <wsdl:output message="impl:desencriptaResponse" name="desencriptaResponse">

       </wsdl:output>

         <wsdl:fault message="impl:PersistentException" name="PersistentException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DesencriptacionSoapBinding" type="impl:Desencriptacion">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="desencripta">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="desencriptaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="desencriptaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="PersistentException">

            <wsdlsoap:fault name="PersistentException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DesencriptacionService">

      <wsdl:port binding="impl:DesencriptacionSoapBinding" name="Desencriptacion">

         <wsdlsoap:address location="http://localhost:8080/SOAEncriptacion/services/Desencriptacion"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
